.nav a{
	color: blue;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}
.nav li{
	display: inline;
}

.jumbotron{
	background-image: url(http://media.alienwarearena.com/media_photo_show/league_of_legends_i_am_adc_wallpaper_by_nibblesmekibbles-d64x2ne.jpg);
	background-size: 100%;
	height: 500px;
}

.jumbotron .container{
	position: relative;
	top:100px;
}

.jumbotron h1{
	color: #fff;
	font-size: 40px;
	font-weight: bold;
}

.jumbotron p{
	color: #fff;
	font-size: 20px;
}

.tools{
	background-color: #f7f7f7;
}

.tools h3{
	font-size: 20px;
	font-weight: bold;
}